# Production Vs Stoppage:(linear regression)

**SUPERVISED LEARNING:**:

In [1]:
import pandas as pd
import pickle
import os
import xlrd
import openpyxl 
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)
from sklearn import linear_model

In [2]:
df12=pd.read_excel(
     os.path.join("C:\\Users\\Athul krishna\\myexcels\\","production\\", 'product12.xml.xlsx'),
     engine='openpyxl',
)
df13=pd.read_excel(
     os.path.join("C:\\Users\\Athul krishna\\myexcels\\","production\\", 'product11.xml.xlsx'),
     engine='openpyxl',
)
df14=pd.read_excel(
     os.path.join("C:\\Users\\Athul krishna\\myexcels\\","production\\", 'product10.xml.xlsx'),
     engine='openpyxl',
)
df15=pd.read_excel(
     os.path.join("C:\\Users\\Athul krishna\\myexcels\\","production\\", 'product09.xml.xlsx'),
     engine='openpyxl',
)
df16=pd.read_excel(
     os.path.join("C:\\Users\\Athul krishna\\myexcels\\","production\\", 'product08.xml.xlsx'),
     engine='openpyxl',
)


#df1=pd.concat([df12,df13,df14,df15,df16])
df1=pd.concat([df12])
df1.head()

,production_id,company_id,branch_id,department_id,shed_id,machinetype_id,machine_id,design_id,date_time,machine_status,...,powerfactor,kwh,frequency,no_communication,communication_id,created_on,created_by,modified_on,modified_by,phase_no
0,3625,1,1,1,3,8,103,1,2020-12-01 20:04:35,0,...,0,0,0,0,0,2020-10-29 18:54:45,8,NaN,8,1
1,3993,1,1,1,3,8,102,1,2020-12-01 20:04:31,0,...,0,0,0,0,0,2020-11-10 13:34:23,8,NaN,8,1
2,4000,1,1,1,3,8,88,1,2020-12-01 20:03:29,0,...,0,0,0,0,0,2020-11-10 16:33:04,7,NaN,7,1
3,4181,1,1,1,3,8,85,1,2020-12-01 20:03:20,0,...,0,0,0,0,0,2020-11-18 14:19:20,8,NaN,8,1
4,4216,1,1,1,3,8,107,1,2020-12-01 20:05:02,0,...,0,0,0,0,0,2020-11-19 13:50:08,8,NaN,8,1

In [3]:
df1.shape

(1000, 78)

In [4]:
df2=df1.loc[:, ['running_time','first_revolution','second_revolution','ins_rpm']]

In [5]:
df2.head()

   running_time  first_revolution  second_revolution     ins_rpm
0           530              7024                 34  795.169811
1         27343            277923               1283  609.859196
2         29805            232915               1418  468.877705
3         30921            331270               2111  642.904030
4         23062            267630               1532  696.246639

In [6]:
df2.shape
df2.isnull().sum()

running_time         0
first_revolution     0
second_revolution    0
ins_rpm              0
dtype: int64

In [7]:
y=df2.first_revolution
y.head()

0      7024
1    277923
2    232915
3    331270
4    267630
Name: first_revolution, dtype: int64

In [8]:
ff=df2.drop('first_revolution',axis='columns')
pp=ff.drop('ins_rpm',axis='columns')
x=pp.drop('second_revolution',axis='columns')
x.head()

   running_time
0           530
1         27343
2         29805
3         30921
4         23062

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
l=LinearRegression()
l.fit(x_train,y_train)
#l.score(x_test,y_test)

LinearRegression()

In [11]:
pickle.dump(l,open('model.pkl','wb'))
#model=

In [17]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv=ShuffleSplit(n_splits=5,test_size=0.1,random_state=0)
cross_val_score(LinearRegression(),x,y,cv=cv)

array([0.85466826, 0.82444528, 0.78956836, 0.80488186, 0.80902841])

In [16]:
cross_val_score(Lasso(),x,y,cv=cv)

array([0.85466826, 0.82444528, 0.78956836, 0.80488186, 0.80902841])

In [28]:
def predict(rt):
    k=np.zeros(len(x.columns))
    k[0]=rt
    return l.predict([k])[0]
print(predict(20598))

193205.505847921

In [29]:
import glob, os
os.chdir("C:\\Users\\Athul krishna\\myexcels\\production\\")
import openpyxl 
from datetime import datetime

In [30]:
def extract(file,c1,c2,c3):
    wb_obj = openpyxl.load_workbook(file) 
    sheet_obj = wb_obj.active
    l=[]


    for i in range(2,20+1):
        val=predict(float(sheet_obj.cell(row = i, column = c1).value),float(sheet_obj.cell(row = i, column = c2).value))
        print("Actual:",float(sheet_obj.cell(row = i, column = c3).value),"Predicted:",val)
        
    #print(l,co)
    #return [co,ca,cb,cc]
#extract("C:\\Users\\Athul krishna\\myexcels\\product11.xml.xlsx",12,13

In [146]:
for file in glob.glob("*.xlsx"):
    extract(file,11,13,12)

Actual: 140244.0 Predicted: 126535.73337571594
Actual: 108806.0 Predicted: 115886.77601251226
Actual: 5915.0 Predicted: -4885.709475749185
Actual: 0.0 Predicted: -11922.050497296907
Actual: 95760.0 Predicted: 96802.34613702851
Actual: 0.0 Predicted: -11922.050497296907
Actual: 65247.0 Predicted: 71058.42140207338
Actual: 0.0 Predicted: -11922.050497296907
Actual: 93588.0 Predicted: 98848.02807995523
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 3150.0 Predicted: -6166.001516488611
Actual: 93159.0 Predicted: 109253.1288918838
Actual: 12454.0 Predicted: 4599.510376079146
Actual: 114528.0 Predicted: 125819.84432367585
Actual: 0.0 Predicted: -10011.195986747278
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 18747.0 Predicted: 11718.669509701405
Actual: 171819.0 Predicted: 187369.24422369263
Actual: 169744.0 Predicted: 190054.0973888195
Actual: 122344.0 Predicted: 128685.21040972127
Actual: 199618.0 Predicted: 220629.56441584337
Actual: 99654.0 Predicted: 102891.39361294756
Actual: 1148476.0 Predicted: 213648.85247036826
Actual: 224827.0 Predicted: 239179.64561474783
Actual: 1.0 Predicted: -11922.050497296907
Actual: 91808.0 Predicted: 87366.65507903819
Actual: 2994.0 Predicted: -4083.941429680731
Actual: 304699.0 Predicted: 314435.29356404097
Actual: 198020.0 Predicted: 210631.69940240096
Actual: 0.0 Predicted: -11922.050497296907
Actual: 69256.0 Predicted: 72619.6746739302
Actual: 341628.0 Predicted: 334814.4945033444
Actual: 248409.0 Predicted: 284466.267314797
Actual: 212493.0 Predicted: 235901.88707145152
Actual: 0.0 Predicted: -11922.050497296907
Actual: 113721.0 Predicted: 123477.21316724757
Actual: 0.0 Predicted: -11922.050497296907
Actual: 289275.0 Predicted: 283777.28139983286
Actual: 50744.0 Predicted: 114941.73507742351
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 98077.0 Predicted: 83351.67369873493
Actual: 0.0 Predicted: -11922.050497296907
Actual: 514.0 Predicted: -10211.735801182236
Actual: 345369.0 Predicted: 338410.98960617994
Actual: 214901.0 Predicted: 235805.9247714379
Actual: 324320.0 Predicted: 323008.9617712509
Actual: 0.0 Predicted: -11922.050497296907
Actual: 285967.0 Predicted: 250454.56766281324
Actual: 318520.0 Predicted: 283073.6832053522
Actual: 238242.0 Predicted: 253678.70261375763
Actual: 244814.0 Predicted: 214361.19913569296
Actual: 159228.0 Predicted: 189061.48162262997
Actual: 0.0 Predicted: -11922.050497296907
Actual: 161916.0 Predicted: 190109.97795810946
Actual: 1537.0 Predicted: -10077.076030950022
Actual: 196111.0 Predicted: 206800.65509295062
Actual: 201675.0 Predicted: 231775.98932531054
Actual: 0.0 Predicted: -11922.050497296907
Actual: 137665.0 Predicted: 166644.89365017303
Actual: 272465.0 Predicted: 253619.36348882475
Actual: 74892.0 Predicted: 64052.60973538952
Actual: 241035.0 Predicted: 260185.68395534594
Actual: 248262.0 Predicted: 230539.42671475568
Actual: 0.0 Predicted: -6450.058035268425
Actual: 202427.0 Predicted: 227825.16194239742
Actual: 279666.0 Predicted: 260456.69513691438
Actual: 202210.0 Predicted: 220713.82913782238
Actual: 232531.0 Predicted: 217000.33886858757
Actual: 341723.0 Predicted: 319665.2672963702
Actual: 341100.0 Predicted: 328844.8174075437
Actual: 243994.0 Predicted: 266642.9129535698
Actual: 239776.0 Predicted: 259451.4381692204
Actual: 0.0 Predicted: -11878.621985693506
Actual: 289495.0 Predicted: 285698.2471600586
Actual: 237333.0 Predicted: 248807.74277752696
Actual: 230863.0 Predicted: 248435.9414994521
Actual: 192811.0 Predicted: 203373.3944883612
Actual: 92774.0 Predicted: 115874.60339173385
Actual: 316745.0 Predicted: 287055.59881694545
Actual: 186050.0 Predicted: 190884.92023615655
Actual: 160342.0 Predicted: 142038.82428204175
Actual: 0.0 Predicted: 31115.604501673137
Actual: 5409.0 Predicted: -8780.376852464236
Actual: 0.0 Predicted: 10964.775117695237
Actual: 199036.0 Predicted: 253516.21756465262
Actual: 1541177.0 Predicted: 272563.48041089467
Actual: 0.0 Predicted: -11922.050497296907
Actual: 0.0 Predicted: -11922.050497296907
Actual: 262627.0 Predicted: 222718.22130930272
Actual: 199591.0 Predicted: 217119.1783185805
Actual: 231029.0 Predicted: 220659.3392910553
Actual: 264787.0 Predicted: 238832.82582110073
Actual: 174928.0 Predicted: 202074.82954460874
Actual: 14.0 Predicted: -11905.503641096486
Actual: 0.0 Predicted: -11922.050497296907
Actual: 104116.0 Predicted: 155423.69404518724
Actual: 0.0 Predicted: -11922.050497296907
Actual: 376367.0 Predicted: 294561.6250692299
Actual: 319.0 Predicted: -11487.709493881275
Actual: 269.0 Predicted: -11622.145714586988
Actual: 707.0 Predicted: -10921.021584553091
Actual: 286756.0 Predicted: 277498.1406834447
Actual: 0.0 Predicted: -11922.050497296907
Actual: 7024.0 Predicted: -6060.564209669852
Actual: 277923.0 Predicted: 270017.0744339149
Actual: 232915.0 Predicted: 296249.10348309163
Actual: 331270.0 Predicted: 335578.207784083
Actual: 267630.0 Predicted: 245412.22812616164
Actual: 69207.0 Predicted: 134043.72214837506
Actual: 334295.0 Predicted: 293389.6979608268
Actual: 13944.0 Predicted: 57726.92583368215
Actual: 251398.0 Predicted: 255788.16882407613
Actual: 339035.0 Predicted: 316243.6813566354
Actual: 221070.0 Predicted: 195088.8985909695
Actual: 2350.0 Predicted: -11314.051334849297
Actual: 271849.0 Predicted: 288870.37279070046
Actual: 135682.0 Predicted: 245782.18302502314
Actual: 141810.0 Predicted: 165247.7396994706
Actual: 130467.0 Predicted: 163935.05253860063
Actual: 0.0 Predicted: -11531.1938928663
Actual: 40926.0 Predicted: 34459.42367535265
Actual: 14456.0 Predicted: 6465.154440831149

0.8118795020594881

array([0.56126559, 0.60878834, 0.82588422, 0.91665027, 0.71785643])